# Node & Frontend
node_modules/
dist/
dist-ssr/
*.local

# Java & Backend
**/target/
*.class
*.jar
*.war

# OS & IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
*.suo
*.user
gcm-diagnose.log
gcm-diagnose.log
gcm-diagnose.log
